/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: white;
    font-family: 'Truculenta', Times, serif;
}

/* Header */
header {
    background-color: white;
    color: gold;
    padding: 40px 1rem 20px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px gold;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: gold;
}

h1 {
    font-family:'Truculenta', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: gold;
    text-align: center;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

menu > li {
    margin-bottom: 1em;
    color: gold;
}


.active {
    border-bottom: 1px solid gold;
}

/* Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: white;
    color: gold;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px gold;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: gold;
    color: white;
    /* Main element to take up any surplus space to push footer down*/
    display: flex;
    flex: 1 0 auto;
    margin-top: 95px;
}

/*Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/Hero\ Image\ 2.jpg") no-repeat center center/cover;

}

/* Hero Image for Recipes Page*/
#galleryhero {
    height: 600px;
    width: 100%;
    background: url("../images/Hero\ image\ 7.jpg") no-repeat center center/cover;
}


/*Hero Image for Registration Page*/
#registerhero {
    height: 600px;
    width: 100%;
    background: url("../images/Hero\ Image\ 6.jpg") no-repeat center center/cover;
}

/* Footer */
footer { 
    background-color: white;
    color: gold;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}