/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: gold;
    color: white;
}
header {
    position:absolute;
}

/*Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/Hero\ Image\ 2.jpg") no-repeat center center/cover;
}

footer{

}

/*Hero Image for Registration Page*/
#registerhero {
    height: 600px;
    width: 100%;
    background: url("../images/Sign\ Up\ Page-\ Image\ 1.jpg") no-repeat center center/cover;
}